<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to Laravel's index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
